<!DOCTYPE html>
<html ng-app="store">
	<head>
	<title>HuhThatsCool > Testing > AngularJS</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	</head>
<!--       ___     __
    |__|    |     |
www.\  |uh  |hats |__ool.com
-->
<body ng-controller="StoreController as store">
	<header>
      <h1 class="text-center">Shaping Up with Angular JS</h1>
    </header>

    <!-- Products Container -->
	<div class="list-group-item" ng-repeat="product in store.products">
		<h3>
			{{product.name}}
			<em class="pull-right">{{product.price | currency}}</em>
		</h3>

		<div ng-show="product.images.length">
			<div>
				<img ng-src="{{ product.images[0].full }}">
			</div>
		</div>

		<section ng-controller="PanelController as panel">
			<ul class="nav nav-pills">
				<li ng-class="{ active: panel.isSelected(1) }">
					<a href ng-click="panel.selectTab(1)">Description</a>
				</li>
				<li ng-class="{ active: panel.isSelected(2) }">
					<a href ng-click="panel.selectTab(2)">Specifications</a>
				</li>
				<li ng-class="{ active: panel.isSelected(3) }">
					<a href ng-click="panel.selectTab(3)">Reviews</a>
				</li>
			</ul>
			<div class="panel" ng-show="panel.isSelected(1)">
				<h4>Description</h4>
				<p>{{product.description}}</p>
			</div>
			<div class="panel" ng-show="panel.isSelected(2)">
				<h4>Specifications</h4>
				<blockquote>None Yet</blockquote>
			</div>
			<div class="panel" ng-show="panel.isSelected(3)">
				<h4>Reviews</h4>
				<blockquote>None Yet</blockquote>
			</div>
		</section>
	</div>
	














<br><br><br><br><br><br><br><br><br><br><br><br>

<h2>Steps Along the Way</h2> <hr><br>
<div ng-repeat="product in store.products">
<!-- <div ng-show="!store.product.soldOut"> -->
<!-- <div ng-hide="store.product.soldOut">  -->
	<h3>{{product.name}}</h3>
	<h3>${{product.price}}</h3>
	<p>{{product.description}}</p>
	<button ng-show="product.canPurchase">Add to Cart</button>
	<hr>
</div>

<h2>Other Examples</h2>
<p>Arithmetic: 9 * 4 = {{9*4}}</p>
<p>Concatenation : {{"Wash"+"ington"}}</p>
<p>Date Filter: {{ '1388123412323' | date:'MM/dd/yyyy @ h:mma' }}</p>
<p>Convert me {{ 'to uppercase' | uppercase }}</p>
<p>Limit String Length: {{ 'ABCdefGHIjk' | limitTo:5 }}</p>

	<div ng-controller="OtherController as foo">
		<h3>{{foo.family.first}} {{foo.family.last}}</h3>
	</div>

	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</body>
</html>


